.ant-input {
  display: inline-block;
  position: relative;
  input {
    padding: 4px 6px;
  }
  &.clear {
    input {
      padding-right: 18px;
    }
  }
  .ant-input-clear {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
